*{
    box-sizing: border-box;
} 
#home-page body{
    margin: 0;
    font-family: Helvetica Neue,"HelveticaNeue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
    color: #1a1a1a;
    text-align: left;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#home-page h1,#home-page  h2,#home-page  h3,#home-page  h4,#home-page  h5,#home-page  h6{
    font-family: Oswald,sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.3;
    color: #1a1a1a;
}
#home-page a{
    text-decoration: none;
}
#home-page{
    width: auto;
    height: auto;
    padding: 5px;
}
#home-page .section{
    width: 100%;
    height: 100%;
    padding: 28px 0px;
}
#home-page .container{
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
@media (min-width: 576px){
    #home-page .container {
        max-width: 570px;
    }
}
@media (min-width: 720px){
    #home-page .container {
        max-width: 720px;
    }
}
@media (min-width: 1025px){
    #home-page .container {
        max-width: 990px;
    }
}
@media (min-width: 1200px){
    #home-page .container {
        max-width: 1170px;
    }
}
#home-page .slideshow-container {
    width: 100%;
    position: relative;
    margin-top: 0;
}
#home-page .mySlides {
    display: none;
}
#home-page .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
#home-page .slides_show {
    width: 100%;
}
#home-page .prev,#home-page  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 13px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
#home-page .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}
#home-page .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
#home-page .prev:hover ,#home-page  .next:hover{
    background-color: rgba(0,0,0,0.8);
}
#home-page #our-store a{
    color: #7ED321;

}
#home-page #our-store a:hover{
    text-decoration: underline;
    color: #497b13;
}
#home-page .row{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;

}
#home-page .col{
    width: 100%;
    height: auto;
    margin: 10px;
    position: relative;
    overflow: hidden;
}
#home-page .col img{
    max-width: 100%;
    transition: all 0.7s;
    transform: scale(1);
}

#home-page .col:hover img{
    transform: scale(1.05);
}
#home-page .title{
    text-transform: uppercase;
    line-height: 20px;
    font-size: 15px;
}
#home-page .sub-email{
    max-width: 450px;
    margin: 0 auto;
    display: flex;
}
#home-page input {
    border: 1px solid #e6e6e6;
    font-size: 12px;
    padding-left: 16px;
    min-height: 40px;
}
#home-page .sub-email input{
    height: 40px;
    flex: 1 1 auto;
}

#home-page .btn-sub{
    background-color: #7ed321;
    border: 1px solid #7ed321;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    line-height: 18px;
    cursor: pointer;
}
#home-page .product{
    width: auto;
    min-height: 430px;
    margin: 30px 0px;
}
#home-page .product-list{
    display: flex;
    flex-direction: row;
    width: 1170px;
    overflow: hidden;
    transform: translate(0px, 0px);
    transition: transform 0.5s ease 0s;
}
#home-page .detail{
    padding: 10px;
    flex-basis: inherit;
    flex-grow: 0;
    flex-shrink: 0;
    width: 16.66%;
}
#home-page .product-detail{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;

}
#home-page .product-detail:hover{
    box-shadow: 0 5px 10px 0 #999;
}
#home-page .product-detail-image{
    overflow: hidden;
}
#home-page .product-detail-image img{
    height: auto;
    max-width: 100%;
}
#home-page .product-price{
    padding: 10px;
}
#home-page .price-sale{
    color: red;
    padding: 5px;
}
#home-page .price{
    color: #999;
    padding: 5px;
    text-decoration: line-through;
}
@media(min-width:1100px){
    #home-page .cart{
        max-height: 0px;
        overflow: hidden;
        transition: max-height .3s linear, padding-top .3s linear;
    }
}

#home-page .btn-cart{
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    padding: 10px 20px;
}
#home-page [data-button="add-to-cart"] {
    background-color: #7ED321;
    border: 1px solid #7ED321;
    color: #fff;
    text-transform: uppercase;
}
#home-page .text-cart{
    padding: 5px;
}
#home-page .toggled{
    max-height: 70px;
}
#home-page .product-name{
    font-size: 14px;
    overflow: hidden;
}
#home-page .product-name a {
    color: black;
    text-decoration: none;
}
#home-page .product-name a:hover {
    text-decoration: underline;
}